"@tikivn:registry" "https://npm.pkg.tiki.services/:_authToken=2XCP5J3gJElmGoeOtRxcCR6OawRuCZK7os5qCBYwD4b2MqsH6dm99WRBYFii6h6l"
"//npm.pkg.tiki.services/:_authToken" "2XCP5J3gJElmGoeOtRxcCR6OawRuCZK7os5qCBYwD4b2MqsH6dm99WRBYFii6h6l"